.BuildCard__Content {
  position: relative;
  padding-left: var(--space-xl);
}

@media (min-width: 900px) {
  .BuildCard__Content {
    padding-left: var(--space-2xl);
  }

  .BuildCard_status_list .BuildCard__Content {
    display: flex;
    justify-content: space-between;
  }
}