.BuildCard__DateInfo {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media (min-width: 900px) {
  .BuildCard_status_list .BuildCard__DateInfo {
    margin-bottom: 12px;
    margin-right: 0;
  };
}