@font-face {
  font-family: "YS Text";
  src: url("http://yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("http://yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YS Text";
  src: url("http://yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"), url("http://yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YS Text";
  src: url("http://yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"), url("http://yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: var(--space-xs); */
  border-radius: var(--radius-m);
  text-decoration: none;
}
.Footer {
  background-color: var(--color-bg-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
}

@media (min-width: 600px) {
  .Footer {
    padding: 12px 50px;
  }
}

@media (min-width: 900px) {
  .Footer {
    padding: var(--space-7xs) 100px;
  }
}
.Form {
  max-width: 474px;
}
.Header {
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
}

@media (min-width: 600px) {
  .Header {
    padding: 15px 50px;
  }
}

@media (min-width: 900px) {
  .Header {
    padding: var(--space-5xs) 100px;
  }
}
.Input {
  width: 100%;
  height: 36px;
  max-width: var(--content-size);
  border-radius: var(--radius-m);
  border: 2px solid var(--color-border-default);
  color: var(--color-text-primary);
  box-sizing: border-box;
  padding: 11px 13px;
  font-size: 13px;
  line-height: 15px;
}

.Input::placeholder {
  color: var(--color-text-primary);
  opacity: 0.2;
  font-size: 13px;
  line-height: 15px;
}

.Layout {
  padding-bottom: 84px;
}
.Text {
  margin-top: 0;
  margin-bottom: 0;
}
.Button__Icon {
  padding: 8px;
  display: flex;
  box-sizing: border-box;
}
.Button_role_clear {
  height: 36px;
  width: 36px;
  background-color: transparent;
  border: none;
}

.Button_size_m {
  height: 36px;
}

.Button_size_m .Button_view_submit {
  line-height: 36px;
}

.Button_size_m .Button_view_default {
  line-height: 36px;
}
.Button_size_s {
  height: 28px;
}

.Button_size_s .Button_view_submit {
  line-height: 36px;
}

.Button_size_s .Button_view_default {
  line-height: 36px;
}
.Button_type_action .Button__Text {
  margin-right: 13px;
  margin-left: -3px;
  display: none;
}

@media (min-width: 900px) {
  .Button_type_action.Button_textVisible .Button__Text {
    display: block;
  }
}
.Button_type_default {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}
.Button_view_default {
  background-color: var(--color-bg-control);
  color: var(--color-text-primary);
  border-color: var(--color-bg-control);
  font-size: 13px;
}
.Button_view_submit {
  background-color: var(--color-bg-action);
  color: var(--color-text-primary);
  border-color: var(--color-bg-action);
  font-size: 13px;
}
.Button_width_full {
  width: 100%;
}
.Footer__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .Footer__Content {
    max-width: 825px;
    flex-direction: row;
  }
}

.Footer__Link {
  margin-right: var(--space-s);
  text-decoration: none;
}

.Form__Action {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .Form__Action {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
  }
}
.Form__Content {
  margin-bottom: 4px;
}
/* .Form__Description {
  margin-bottom: 14px;
} */
.Form__Header {
  margin-bottom: var(--space-8xs);
}
.Form__SubmitButton {
  margin-bottom: 12px;
}

@media (min-width: 600px) {
  .Form__SubmitButton {
    margin-bottom: 0;
    margin-right: 8px;
  }
}
.Form__Title {
  margin-bottom: var(--space-xs);
}
.Header__Action {
  display: flex;
  flex-shrink: 0;
}
.Header__Button {
  margin-right: 8px;
}
.Header__Content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .Header__Content {
    max-width: 825px;
  }
}
.Header__Title {
  margin-right: 8px;
}
.Input_state_focused {
  border-color: var(--color-border-focused);
}
.Footer__Links {
  display: flex;
  margin-bottom: var(--space-xs);
}

@media (min-width: 900px) {
  .Footer__Links {
    margin-bottom: 0;
  }
}
.Layout__Container {
  margin-right: var(--space-m);
  margin-left: var(--space-m);
}

@media (min-width: 600px) {
  .Layout__Container {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (min-width: 900px) {
  .Layout__Container {
    margin-right: 100px;
    margin-left: 100px;
    max-width: 825px;
  }
}
.Text_size_l {
  font-size: var(--text-size-l);
  line-height: var(--line-height-size-xs);
}

@media (min-width: 900px) {
  .Text_size_l {
    font-size: var(--text-size-xl);
    line-height: var(--line-height-size-m);
  }
}
.Text_size_m {
  font-size: var(--text-size-m);
  line-height: var(--line-height-size-m);
}

.Text_size_s {
  font-size: var(--text-size-s);
  line-height: var(--line-height-size-s);
}
.Text_size_xl {
  font-size: var(--text-size-xl);
  line-height: var(--line-height-size-xl);
}

@media (min-width: 900px) {
  .Text_size_xl {
    font-size: var(--text-size-xxl);
    line-height: var(--line-height-size-xxl);
  }
}
.Text_view_fail {
  color: var(--color-text-fail);
}
.Text_view_primary {
  color: var(--color-text-primary);
}

.Text_view_progress {
  color: var(--color-text-progress);
}
.Text_view_secondary {
  color: var(--color-text-secondary);
}

.Text_view_success {
  color: var(--color-text-success);
}
.Theme_type_default {
  /* colors */
  --white: #ffffff;
  --black: #000000;/*color-text*/
  --gray-900: #111111;
  --gray-800: #434445;
  --gray-700: #7f7f7f;
  --gray-500: #b3b3b3;
  --gray-400: #cccccc;
  --gray-250: #d9d9d9;
  --gray-200: #dbdbdb;
  --gray-150: #e6e6e6;/*color-bg-control*/
  --gray-100: #e5e5e5;
  --gray-50: #f2f2f2;
  --blue-gray-500: #7f8285;/*color-bg-secondary*/
  --blue-gray-50: #f0f2f3;
  --yellow-700: #b09105;
  --yellow-600: #eec50a;
  --yellow-500: #fbcf0b; /*color-bg-action*/
  --orange-500: #F99C13;
  --red-500: #f6333a;
  --red-600: #d80015;
  --green-500: #33b53e;


  --color-text-primary: var(--black);
  --color-text-secondary: var(--blue-gray-500);
  --color-text-disabled: var(--gray-700);
  --color-text-ghost: var(--gray-800);
  --color-text-success: var(--green-500);
  --color-text-progress: var(--orange-500);
  --color-text-fail: var(--red-500);
  --color-text-required: var(--red-500);

  --color-bg-primary: var(--white);
  --color-bg-secondary: var(--blue-gray-50);
  --color-bg-control: var(--gray-150);
  --color-bg-control-hovered: var(--gray-200);
  --color-bg-disabled: var(--gray-50);
  --color-border-default: var(--gray-250);
  --color-bg-action: var(--yellow-500);
  --color-bg-action-hovered: var(--yellow-600);
  --color-bg-close-icon: var(--gray-400);
  --color-bg-code: var(--gray-50);

  --color-border-action-focused: var(--yellow-700);
  --color-border-focused: var(--gray-500);
  --color-border-default: var(--gray-250);
  --color-icon-secondary: var(--gray-500);

  /* space */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;

  /* text-size */
  --text-size-s: 13px;
  --text-size-m: 15px;
  --text-size-l: 16px;
  --text-size-xl: 18px;
  --text-size-xxl: 24px;

  /* line-height */
  --line-height-size-xs: 16px;
  --line-height-size-s: 18px;
  --line-height-size-m: 20px;
  --line-height-size-xl: 22px;
  --line-height-size-xxl: 28px;

  /* breakpoints */
  --breakpoint-size-s: 320px;
  --content-size: 474px;

  /* border-radius */
  --radius-s: 2px;
  --radius-m: 4px;

  /* fonts */
  --font-family: 'YS Text';

  font-family: var(--font-family);


  /* --settings-button: #e6e6e6;
  --icon: #E5E5E5;
  --footer: #F0F2F3;
  --open-settings: #FBCF0B;
  --success: #5ECC78;
  --fail: #F77073;
  --progress: #FABA4F;
  --show-more: #EDEDED;
  --show-more-mobile: #E6E6E6; */
}

body {
  margin: 0;
}
.BuildCard__Status_status_fail {
  fill: var(--color-text-fail);
}
.BuildCard__Status_status_progress {
  fill: var(--color-text-progress);
}
.BuildCard__Status_status_success {
  fill: var(--color-text-success);
}
@media (min-width: 900px) {
  .BuildDetails {
    margin-right: auto;
    margin-left: auto;
  }
}
.BuildCard {
  padding: 16px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.BuildCard:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .BuildCard {
    padding: 12px 24px;
  }
}
.Builds {
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .BuildHistory {
    margin-right: auto;
    margin-left: auto;
  }
}
.Logs {
  overflow: auto;
  background-color: var(--color-bg-code);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 900px) {
  .Logs {
    margin-right: auto;
    margin-left: auto;
  }
}
.Settings {
  margin-top: 14px;
}

@media (min-width: 900px) {
  .Settings {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}


.SettingsPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 94px;
}

@media (min-width: 900px) {
  .SettingsPreview {
    margin-top: 206px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Title {
  margin-bottom: 0;
  margin-top: 0;
}
.Field {
  padding-top: var(--space-5xs);
  padding-bottom: 8px;
  position: relative;
}

.Logo {
  width: 124px;
  height: 124px;
}
.BuildCard__Branch {
  margin-right: 4px;
  line-height: 16px;
}
.BuildCard__BuildDateTime {
  display: flex;
  align-items: center;
  opacity: 0.65;
}

@media (min-width: 900px) {
  /* .BuildCard__BuildDateTime {
    flex-direction: column;
  } */

  .BuildCard_status_list .BuildCard__BuildDateTime {
    flex-direction: column;
  }
}
.BuildCard__Commit {
  opacity: 0.65;
}
.BuildCard__CommitInfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

@media (min-width: 900px) {
  .BuildCard__CommitInfo {
    margin-bottom: 0;
    margin-right: var(--space-5xs);
  };
}
.BuildCard__Content {
  position: relative;
  padding-left: 24px;
}

@media (min-width: 900px) {
  .BuildCard__Content {
    padding-left: 32px;
  }

  .BuildCard_status_list .BuildCard__Content {
    display: flex;
    justify-content: space-between;
  }
}
.BuildCard__Description {
  margin-top: 0;
  margin-bottom: 8px;
}

@media (min-width: 900px) {
  .BuildCard__Description {
    margin-bottom: 0;
  }
}
.BuildCard__Git {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  border-bottom: 1px solid #f1f2f3;
}

@media (min-width: 900px) {
  .BuildCard__Git {
    flex-direction: row;
    align-items: center;
  }

  .BuildCard_status_list .BuildCard__Git {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.BuildCard__Icon {
  fill: var(--color-icon-secondary);
  margin-right: 4px;
}
.BuildCard__Info {
  
}
.BuildCard__Main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .BuildCard__Main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
  };
}
.BuildCard__Number {
  line-height: var(--line-height-size-xs);
  margin-bottom: 8px;
}

@media (min-width: 900px) {
  .BuildCard__Number {
    margin-bottom: 0;
    margin-right: 4px;
  }
}
.BuildCard__Status {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 900px) {
  .BuildCard__Status {
    width: 22px;
    height: 22px;
  }
}
.BuildCard__TimeInfo {
  display: flex;
  align-items: center;
}
.BuildCard__UserInfo {
  display: flex;
  align-items: center;
}

.Settings__SyncTimeField {
  margin-top: 8px;
  margin-bottom: 12px;
}
.BuildCard__DateInfo {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media (min-width: 900px) {
  .BuildCard_status_list .BuildCard__DateInfo {
    margin-bottom: 12px;
    margin-right: 0;
  };
}
.SettingsPreview__Description {
  line-height: var(--line-height-size-xs);
  text-align: center;
  margin-bottom: 24px;
}
.SettingsPreview__Logo {
  margin-bottom: 32px;
}
.Field__Button {
  position: absolute;
  right: 2px;
  top: 30px;
}
.Field__Label {
  margin-bottom: 4px;
}
.Field__Measure {
  color: var(--color-text-ghost);
}
.Field__Required {
  color: var(--color-text-required);
}
.Field_align_line {
  display: flex;
  align-items: center;
}

.Field_align_line .Field__Label {
  margin-right: var(--space-xs);
}

.Field_align_line .Field__Control {
  margin-right: var(--space-xs);
  width: 52px;
}