.Button_size_m {
  height: 36px;
}

.Button_size_m .Button_view_submit {
  line-height: var(--line-height-size-3xl);
}

.Button_size_m .Button_view_default {
  line-height: var(--line-height-size-3xl);
}