.Layout__Container {
  margin-right: var(--space-m);
  margin-left: var(--space-m);
}

@media (min-width: 600px) {
  .Layout__Container {
    margin-right: var(--space-3xl);
    margin-left: var(--space-3xl);
  }
}

@media (min-width: 900px) {
  .Layout__Container {
    margin-right: var(--space-6xl);
    margin-left: var(--space-6xl);
    max-width: var(--container-size);
  }
}