.Text_size_l {
  font-size: var(--text-size-l);
  line-height: var(--line-height-size-xs);
}

@media (min-width: 900px) {
  .Text_size_l {
    font-size: var(--text-size-xl);
    line-height: var(--line-height-size-m);
  }
}