.BuildCard {
  padding: var(--space-m) var(--space-3xs);
  box-shadow: var(--build-card-shadow-default);
  border-radius: var(--radius-l);
  margin-bottom: var(--space-6xs);
}

.BuildCard:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .BuildCard {
    padding: var(--space-3xs) var(--space-xl);
  }
}