.Footer {
  background-color: var(--color-bg-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
}

@media (min-width: 600px) {
  .Footer {
    padding: 12px 50px;
  }
}

@media (min-width: 900px) {
  .Footer {
    padding: 6px 100px;
  }
}