.Footer {
  background-color: var(--color-bg-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
}

@media (min-width: 600px) {
  .Footer {
    padding: var(--space-3xs) var(--space-3xl);
  }
}

@media (min-width: 900px) {
  .Footer {
    padding: var(--space-7xs) var(--space-6xl);
  }
}