.Footer {
  background-color: var(--color-bg-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
  max-width: var(--breakpoint-size-s);
  display: flex;
  flex-direction: column;
}