.Header {
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
}

@media (min-width: 600px) {
  .Header {
    padding: var(--space-s) var(--space-3xl);
  }
}

@media (min-width: 900px) {
  .Header {
    padding: var(--space-5xs) var(--space-6xl);
  }
}