.Header {
  box-sizing: border-box;
  padding: var(--space-s) var(--space-m);
}

@media (min-width: 600px) {
  .Header {
    padding: 15px 50px;
  }
}

@media (min-width: 900px) {
  .Header {
    padding: 10px 100px;
  }
}