.Button_type_action .Button__Text {
  margin-right: var(--space-2xs);
  margin-left: -3px;
  display: none;
}

@media (min-width: 900px) {
  .Button_type_action.Button_textVisible .Button__Text {
    display: block;
  }
}