.SettingsPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-5xl);
}

@media (min-width: 900px) {
  .SettingsPreview {
    margin-top: var(--space-7xl);
    margin-left: auto;
    margin-right: auto;
  }
}
