.Form__Action {
  padding-top: var(--space-3xs);
  padding-bottom: var(--space-3xs);
  margin-bottom: var(--space-3xs);
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .Form__Action {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
  }
}