.BuildCard__Description {
  margin-top: 0;
  margin-bottom: var(--space-6xs);
}

@media (min-width: 900px) {
  .BuildCard__Description {
    margin-bottom: 0;
    max-width: 580px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}