.BuildCard__Number {
  line-height: var(--line-height-size-xs);
  margin-bottom: var(--space-6xs);
}

@media (min-width: 900px) {
  .BuildCard__Number {
    margin-bottom: 0;
    margin-right: var(--space-8xs);
  }
}